<nav class="top-nav">
    <div class="logo-area">
        <img src="{{ url_for('static', filename='neurosphere_logo.png') }}" alt="Logo" class="nav-logo">
        <div class="brand-title">NeuroSphere</div>
    </div>
    <div class="nav-links">
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('messages_page') }}">Clinic Log</a>
        <a href="{{ url_for('reminders_page') }}">Reminders</a>
        <a href="{{ url_for('calendar') }}">Calendar</a>
        <a href="{{ url_for('schedules') }}">Schedules</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</nav>
